<a href="https://colab.research.google.com/github/dhanvina/data-story-telling/blob/main/data_story_telling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [ ]:
!pip install seaborn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.21.6)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.3.5)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.7.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.2->seaborn) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)

In [ ]:
!pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("/content/Wheat_2021.csv")
data

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Chattisgarh,Balod,Balod,Wheat,Other,06/08/2021,1300,1300.0,1300.0
1,Chattisgarh,Balodabazar,Balodabazar,Wheat,Lok-1,23/10/2021,1700,1700.0,1700.0
2,Chattisgarh,Balodabazar,Bhatapara,Wheat,Deshi,03/07/2021,1511,1632.0,1620.0
3,Chattisgarh,Balodabazar,Bhatapara,Wheat,Local,01/01/2021,1301,1455.0,1351.0
4,Chattisgarh,Balodabazar,Bhatapara,Wheat,Local,02/01/2021,1300,1385.0,1345.0
...,...,...,...,...,...,...,...,...,...
149662,West Bengal,Nadia,Karimpur,Wheat,Other,26/12/2021,1800,2000.0,1900.0
149663,West Bengal,Nadia,Karimpur,Wheat,Other,27/12/2021,1790,1950.0,1850.0
149664,West Bengal,Nadia,Karimpur,Wheat,Other,28/12/2021,1780,1925.0,1880.0
149665,West Bengal,Nadia,Karimpur,Wheat,Other,29/12/2021,1750,1950.0,1850.0
149666,West Bengal,Nadia,Karimpur,Wheat,Other,30/12/2021,1750,1900.0,1850.0

In [ ]:
data.describe()

           min_price      max_price    modal_price
count  149667.000000  149667.000000  149667.000000
mean     1746.516106    1926.015758    1840.141649
std       300.278551     646.232780     329.537818
min         0.000000       0.000000       1.000000
25%      1605.000000    1750.000000    1700.000000
50%      1716.000000    1880.000000    1805.000000
75%      1860.000000    1980.000000    1950.000000
max     50509.000000  180013.000000   63869.000000

In [ ]:
data.T

,0,1,2,3,4,5,6,7,8,9,...,149657,149658,149659,149660,149661,149662,149663,149664,149665,149666
state,Chattisgarh,Chattisgarh,Chattisgarh,Chattisgarh,Chattisgarh,Chattisgarh,Chattisgarh,Chattisgarh,Chattisgarh,Chattisgarh,...,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal,West Bengal
district,Balod,Balodabazar,Balodabazar,Balodabazar,Balodabazar,Balodabazar,Balodabazar,Balodabazar,Balodabazar,Balodabazar,...,Nadia,Nadia,Nadia,Nadia,Nadia,Nadia,Nadia,Nadia,Nadia,Nadia
market,Balod,Balodabazar,Bhatapara,Bhatapara,Bhatapara,Bhatapara,Bhatapara,Bhatapara,Bhatapara,Bhatapara,...,Karimpur,Karimpur,Karimpur,Karimpur,Karimpur,Karimpur,Karimpur,Karimpur,Karimpur,Karimpur
commodity,Wheat,Wheat,Wheat,Wheat,Wheat,Wheat,Wheat,Wheat,Wheat,Wheat,...,Wheat,Wheat,Wheat,Wheat,Wheat,Wheat,Wheat,Wheat,Wheat,Wheat
variety,Other,Lok-1,Deshi,Local,Local,Local,Local,Local,Local,Local,...,Other,Other,Other,Other,Other,Other,Other,Other,Other,Other
arrival_date,06/08/2021,23/10/2021,03/07/2021,01/01/2021,02/01/2021,04/01/2021,05/01/2021,06/01/2021,07/01/2021,08/01/2021,...,21/12/2021,22/12/2021,23/12/2021,24/12/2021,25/12/2021,26/12/2021,27/12/2021,28/12/2021,29/12/2021,30/12/2021
min_price,1300,1700,1511,1301,1300,1250,1325,1390,1200,4150,...,1740,1600,1750,1790,1750,1800,1790,1780,1750,1750
max_price,1300.0,1700.0,1632.0,1455.0,1385.0,1391.0,1531.0,1558.0,1495.0,4340.0,...,1950.0,2000.0,1990.0,1925.0,1900.0,2000.0,1950.0,1925.0,1950.0,1900.0
modal_price,1300.0,1700.0,1620.0,1351.0,1345.0,1325.0,1475.0,1490.0,1285.0,4325.0,...,1840.0,1910.0,1890.0,1850.0,1850.0,1900.0,1850.0,1880.0,1850.0,1850.0

In [ ]:
print(data.columns)

Index(['state', 'district', 'market', 'commodity', 'variety', 'arrival_date',
       'min_price', 'max_price', 'modal_price'],
      dtype='object')